{% extends "base.html" %}


{% block content %}

{% endblock %}

{% block right-sidebar %}
  <div class="sidebar-item">
    <h3>Social Presence:</h3>
    <a id="facebook" class="logo" href="https://www.facebook.com/nemec" target="_blank">Facebook</a><br>
    <a id="github" class="logo" href="http://github.com/nemec" target="_blank">Github</a><br>
    <a id="google_plus" class="logo" href="https://plus.google.com/101363865895447068906" target="_blank">Google Plus</a><br>
    <a id="linkedin" class="logo" href="http://www.linkedin.com/pub/daniel-nemec/38/a48/401" target="_blank">Linkedin</a><br>
  </div>
{% endblock %}
