/* Based on:
 * http://www.colourlovers.com/palette/1029818/desperation
 */

body, html {
  background: #545047;
}

#header {
  border-color: #51425F;
  
}

.repo a:link {
  color: #0A0310;
}

.repo a:visited {
  color: #0A0310;
}

.repo b {
  color: #51425F;
}

#content-title {
  background-color: #545047;
  color: #F6B6DD;
  border-bottom: 0.2em solid;
  padding-bottom: 0.3em;
  border-color: #FFFDE3;
}

#content-title h2 a {
  color: #F6B6DD;
}

#nav {
  background: #51425F;
  border-color: #C3C8D1;
}

.nav:link {
  color: #F6B6DD;
}

.nav:visited {
  color: #F6B6DD;
}

.active {
  color: #E4548E !important;
}

A:link {
  color: #FFFDE3;
}

A:visited{
  color: #FFFDE3;
}

#wrapper {
  color: #FFFDE3;
}

#left-sidebar {
  background-color: #948E99;
}

#main {
  background-color: #948E99;
}

#right-sidebar {
  background-color: #948E99;
}

.sidebar-item {
  border-color: #51425F;
}

.title {
  color: #0A0310;
}

h3 {
  color: #0A0310;
}

.date {
  color: #49395E;
}

#footer {
  color: #FFFDE3;
  background: #51425F;
  border-color: #C3C8D1;
}

