#juke {
  margin: 1em;
}

#query {
  width: 100%;
  margin-top: 3em;
}

#juke div{
  margin: 0;
  padding: 0;
}

#juke .ticker {
  height: 50px;
}

#juke .nowplaying {
  float: left;
  width: 48%;
  overflow: hidden;
}

#juke .nextsong {
  float: right;
  width: 42%;
  overflow: hidden;
}

#juke div b {
  font-size: x-large;
  color: #1B112C;
}

#juke p {
  font-size: large;
  color: #493B4C;
  margin: 0;
}

#search-list {
  overflow: hidden;
  white-space: nowrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

#search-list li {
  padding: 0.2em 0.3em;
  margin: 0.2em 0;
}

#search-list li:nth-child(even) {
  background-color: #C9C7BA;
}

#search-list li:nth-child(odd) {
  background-color: #D3BDA5;
}

#search-list li:hover {
  background-color: #1B112C;
  color: #B1A28F;
  cursor:pointer;
}

#search-list .title,
#nowplaying .title,
#nextsong .title {
  font-weight: bold;
}

#search-list .artist,
#nowplaying .artist,
#nextsong .artist {
  font-style: italic;
}

#search-list .album,
#nowplaying .album,
#nextsong .album {
  font-style: italic;
}
