{% extends "base.html" %}

{% block header %}
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}style/mpd-juke.css" />
  <script type="text/javascript" src="{{ STATIC_URL }}scripts/juke-query.js"></script>
{% endblock %}

{% block content %}

  <script type="text/javascript">
    csrf = '{{ csrf_token }}';
    API_BASE = '{{ api_base }}';
  </script>

  <div id="juke">
    {% if nowplaying %}
      <div id="nowplaying">
        <div><b>Now Playing: </b></div><p>
          <span class="title">{{nowplaying.title}}</span>
          {% if nowplaying.album %}
            by <span class="artist">{{nowplaying.artist}}</span>
          {% endif %}
          {% if nowplaying.album %}
            on <span class="album">{{nowplaying.album}}</span>
          {% endif %}
        </p>
      </div>
    {% endif %}
    {% if nextsong %}
      <div id="nextsong">
        <div><b>Next Up: </b></div><p>
          <span class="title">{{nextsong.title}}</span>
          {% if nextsong.album %}
            by <span class="artist">{{nextsong.artist}}</span>
          {% endif %}
          {% if nextsong.album %}
            on <span class="album">{{nextsong.album}}</span>
          {% endif %}
        </p>
      </div>
    {% endif %}
  
    <input type="text" autofocus="autofocus" id="query" name="query" />
    <ul id="search-list">
  </div>
  
  </ul>

{% endblock %}

